/* GENERAL */

#toggle {
	position: relative;
	float: right;
	background-color: transparent;
	background-image: none;
	border: none;
	outline: none;
	cursor: pointer;

	.toggle-line {
		display: block;
		width: 22px;
		height: 3px;
		border-radius: 2px;
		margin-bottom: 4px;
		background: #222;
	}
}

#disqus_thread {
	margin-top: 30px;
}

.addthis_sharing_toolbox {
	margin-top: 35px;
}

.photo_frame_center {
	margin-bottom: 20px;
}

video {
	width: 730px;
	margin-top: 10px;
}

/* POST */

.post-list {
	list-style-type: none;
	padding: 10px 0;
	
	h2 {
		font-family: $heading-font-family;
		font-size: 22px;
		color: #333;
		margin: 0 0 10px;
	}

	h3 {
		font-family: $heading-font-family;
		font-size: 24px;
		color: #333;
		border-bottom: 1px solid #eee;
		padding-bottom: 4px;
		margin: 10px 0 20px;
	}

	li {
		margin-bottom: 20px;
	}

	small {
		font-size: 12px;
		font-weight: $general-font-weight;
		color: $base-text-color;
		margin-top: -0.6em;
		display: block;
	}

	.post-meta {
		background: #fff;
		display: inline-block;
		font-weight: 900;
		font-size: inherit;
		padding: 1px 0;
	}
}

/* ABOUT */

img#about-me {
	float: left;
	margin-right: 45px;
	margin-bottom: 25px;
}

#about-description {
	margin-top: 45px;
}

